@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    position: relative;
    width: 100%;
}

.content {
    padding: 20px;
}

.form-control,
.form-select {
    margin-bottom: 10px;
}

.table th,
.table td {
    text-align: center;
}

.btn-custom {
    background-color: #5a1a0e;
    color: white;
}

.btn-custom:hover {
    background-color: #3e0e07;
}