@import "../components/dialog.css";

.buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 15px;
}

button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}

.buttons button:hover {
    background-color: #6E1E1E;
    color: #FFF8E1;
}

.buttons button:disabled:hover {
    cursor: not-allowed;
}

img {
    width: 20%;
    height: 20%;
    margin-bottom: 10%;
}