@import '../components/tabla.css';
@import '../components/dialog.css';

/*encabezado*/
.head {
    display: flex;
    gap: 90px;
    align-items: center;
    margin: 120px 100px 110px 160px;
}

.head label {
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
}

.head input {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 120%;
    margin-top: -50px;
    margin-left: 0%;
}

.container label {
    color: var(--blue);
    font-weight: 900;
    font-size: 18px;
}

.container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 900;
    font-size: 15px;
}

.body-cliente,
.body-credito {
    width: 80%; 
    margin-bottom: 20px;
    border: 1px solid #000;
}

.body-cliente {
    margin-right: 10px;
    height: 200px; 
}

.body-credito {
    height: 290px; 
}


.border {
    padding: 20px;
    margin-top: 2%;
}

/* .border input {
    font-weight: bold;
    margin-right: 15%;
    font-size: 15px;
}

.border label {
    font-weight: bold;
} */

.form-check {
    margin-top: -20px;
}

.form-check label {
    color: var(--blue);
    font-weight: bold;
    font-size: 120%;
    text-decoration: underline;
}
/* 
.form-select {
    font-weight: bold;
    font-size: 15px;
    width: 15%;
} */

.columns {
    display: flex;
    gap: 10%; 
    margin-right: 35%;
    margin-top: 5%;
}

.column {
    width: 50%; 
    margin-right: 25%;
}

.columnas {
    width: 50%; 
    margin-right: 25%;
    margin-top: 4%;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; 
}

.form-label {
    flex: 0 0 40%;
    margin-right: 5px; 
    white-space: nowrap;
}

input {
    height: 30px;
    text-align: center;
}

#txtVendedor {
    width: 200px;
    text-align: center;
}

#fechaVenta {
    width: 200px;
    text-align: center;
}

.buttones {
    margin-top: 25%;
    margin-left: -150%;
    display: flex;
    gap: 15px;
    margin-right: 50%;
}

.buttones button, #manual2 {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}

.buttones button:hover {
    background-color: #6E1E1E;
    color: var(--white);
}

.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: -20px;
}

.search-container label {
    margin-right: 10px;
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
}

.search-container input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 900;
}

.search-container button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: var(--blue);
    color: var(--white);
    font-weight: 900;
}

.search-container button:hover {
    background-color: #6E1E1E;
    color: var(--white);
}