@import '/resources/public/css/colores.css';
@import '/resources/public/css/components/tabla.css';
@import '/resources/public/css/components/dialog.css';

* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    margin-bottom: 70px;
}

.search input {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
    margin-left: 15px;
    font-weight: 900;
    font-size: 18px;
}

.search label {
    width: 16ch;
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
}

.search button, #manual2 {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    font-weight: 900;
}

dialog[open] {
    scale: 1;
    transition: scale 0.3s ease;

    @starting-style {
        scale: 0;
    }
}

.next {
    position: relative; 
    right: 10%;
}

.next a {
    position: absolute; 
    top: -30px; 
}

.next a i {
    color: var(--blue); 
    font-size: 24px; 
}