@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '/resources/public/css/colores.css';
/*============= Gobals =============*/
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #FFFBF3;
    padding: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    width: 90%;
    height: 600px;
}

.password-section {
    width: 32%;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    margin-top: 30px;
}

.password-section label {
    display: block;
    margin-bottom: 20px;
    margin-top: 50px;
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
}

.password-section input {
    padding: .375rem .75rem; 
    font-size: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem; 
    width: 70%;
    max-width: 200px;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.password-section button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    width: 60%; 
    margin-top: 30px; 
}

.password-section button:hover {
    background-color: #7a2a1e;
}

button:disabled:hover {
    cursor: not-allowed;
}

.form-section {
    display: flex;
    flex-direction: column; 
    width: 40%; 
    margin: 0 auto; 
    margin-top: 250px;
    margin-left: -420px;
}

.img-logo img {
    width: 150px;
    height: 150px;
}

.radio-group {
    display: flex;
    margin-bottom: 10px; 
    margin-top: 55px;
    margin-left: 150px;
}

.radio-group label {
    margin-right: 15px; 
    color: var(--blue); 
    font-weight: bold;
}

.form-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.form-group label {
    width: 200px;
    margin-bottom: 0; 
    color: var(--blue); 
    font-weight: bold;
    margin-left: -140px; 
}

.form-group input,
.form-group select {
    padding: .375rem .75rem; 
    font-size: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem; 
    width: 65%;
    max-width: 300px;
    box-sizing: border-box; 
    margin-left: -20px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px; 
    width: 100px;
    margin-left: 80%;
}

.button-group button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #7a2a1e;
}

.buscadorRUC {
    margin-top: 140px;
    margin-left: -300px;
}

.buscadorRUC input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    max-width: 150px;
}

.buscadorRUC label {
    color: var(--blue);
    font-weight: bold;
}

.next {
    position: relative; 
}

.next i {
    color: var(--blue);
    font-size: 24px;
    position: absolute; 
    left: 920px;
    top: -30px; 
}

@media (min-width: 1601px) {
    .next i {
        left: 1018px;
    }
}

@media (max-width: 1600px) {
    .next i {
        left: 720px;
    }
}

:root {
    --background-alt: #1a242f;
    --text-main: #dbdbdb;
    --border: #526980;
    --background: #161f27;
}


/* Confirmacion de la contra Admin */

.password-section-confirm {
    background-color: #fff;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.password-section-confirm label {
    display: block;
    margin-bottom: 20px;
    margin-top: 50px;
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
}

.password-section-confirm input {
    padding: .375rem .75rem; 
    font-size: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem; 
    width: 70%;
    max-width: 200px;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.password-section-confirm button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    width: 60%; 
    margin-top: 30px; 
}

.password-section-confirm button:hover {
    background-color: #7a2a1e;
}

dialog[open] {
    scale: 1;
    transition: scale 0.3s ease;

    @starting-style {
        scale: 0;
    }
}

dialog {
    transition: scale .3s ease, display .3 ease allow-discrete;
    scale: 0;
}

dialog {
    margin: 150px 650px;
    background-color: #591610;
    /* background-color: var(--background-alt); */
    color: #dbdbdb;
    color: var(--text-main);
    border: none;
    border-radius: 6px;
    border-color: #526980;
    border-color: var(--border);
    padding: 10px 30px;
}

dialog>header:first-child {
    background-color: #161f27;
    background-color: var(--background);
    border-radius: 6px 6px 0 0;
    margin: -10px -30px 10px;
    padding: 10px;
    text-align: center;
}

dialog::-webkit-backdrop {
    background: #0000009c;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

dialog::backdrop {
    background: #0000009c;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}