.profile-card {
    text-align: center;
    margin: 20px;
}

.profile-card img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.profile-card .name {
    font-weight: bold;
    color: var(--blue);
}

.profile-card .phone {
    color: var(--blue);
}

.main {
    position: relative;
    min-height: 100vh; 
    padding-bottom: 5%; 
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--blue);
    padding: 10px 0;
}


.row {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap;
}
