@import '../components/dialog.css';

.cards {
    border: 1px solid #000;
    border-radius: 1%;
    width: 60%;
}
.card1, .card2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    position: relative;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.row label {
    margin-bottom: 5px;
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
}

.row input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150%;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
}

.buttons-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px; 
    right: -340px;
}

.buttons-group button, #manual2 {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: var(--blue);
    color: var(--white);
    font-weight: 500;
}
