@import '../components/dialog.css';
/* ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ forms ¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/


/* Contenedor del formulario */
.form-container {
    background-color: var(--color-yellow);
    padding: 50px;
    border-radius: 5px;
    margin: 5px 30px 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-top: 100px;
}

/* Formulario */
.forms {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
}

.forms>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.forms label {
    width: 16ch;
    color: var(--blue);
}

.forms input,
.forms select {
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 250px;
}

/*========== cedula ========*/
.buscadorRUC {
    transform: translateY(-65px);
}

.buscadorRUC input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 250px;
}

.buscadorRUC label {
    color: var(--blue);
}

/*¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡search-container¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/
.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: -20px;
}

.search-container label {
    margin-right: 10px;
    color: var(--blue);
}

.search-container input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    box-sizing: border-box;
}

.search-container button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: var(--blue);
    color: var(--white);
}

/* Contenedor de radio buttons y botones */
.container-radio-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
}

/*========= radios =======*/
.radio-group {
    display: flex;
    margin-bottom: 100px;
    position: relative;
    top: -35px;
}

.radio-group div {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
}

.radio-group input {
    margin-right: 5px;
}

.radio-group label {
    color: var(--blue);
}

/* ======== Botones ========= */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.buttons button, #manual2 {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:disabled:hover {
    cursor: not-allowed;
}