<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/public/css/acerca-de/acercaDe.css">
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>
<body>
    <div id="loader" class="loader"></div>
    <div id="content" class="sidebar" style="display: none;">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2>Acerca de</h2>
                <div id="btnManual" class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
                <dialog id="manual">
                    <iframe id="manual1" src="" frameborder="0" width="1000px", height="600px"></iframe>
                    <br>
                    <center>
                        <button id="manual2">Cerrar</button>
                    </center>
                </dialog>
            </div>
            <div class="row">
                <div class="profile-card">
                    <img src="/resources/public/img/Foto-byron.jpg"/>
                    <div class="name">
                        Byron José Guzmán Duarte
                    </div>
                    <div class="phone">
                        +505 8969 8918
                    </div>
                </div>
                <div class="profile-card">
                    <img src="/resources/public/img/Foto-harold.png"/>
                    <div class="name">
                        Harold Josué Estrada Picado
                    </div>
                    <div class="phone">
                        +505 7791 6557
                    </div>
                </div>
                <div class="profile-card">
                    <img src="/resources/public/img/customer.jpg"/>
                    <div class="name">
                        Nohemí Azucena Campos Espinoza
                    </div>
                    <div class="phone">
                        +505 8900 7319
                    </div>
                </div>
            </div>
            <div class="footer">
                Copyright © 2024 UNAN CUR Matagalpa.
            </div>
        </div>
    </div>
    <script type="module" src="../public/js/acercaDe/acerca-de.js"></script>
</body>
</html>
