<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/public/css/acerca-de/acercaDe.css">
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="shortcut icon" href="../public/img/logo.png" type="image/x-icon">
</head>
<body>
    <div id="loader" class="loader"></div>
    <div id="content" class="sidebar" style="display: none;">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2>Acerca de</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="row">
                <div class="profile-card">
                    <img alt="Profile Picture" height="100"
                        src="https://storage.googleapis.com/a1aa/image/cvO5faZ0XaQdJ6ZUO7eZ1TromJXufAQYknUf9Q3AiJ2BfOQdC.jpg"
                        width="100" />
                    <div class="name">
                        Byron José Guzmán Duarte
                    </div>
                    <div class="phone">
                        +505 8969 8918
                    </div>
                </div>
                <div class="profile-card">
                    <img alt="Profile Picture" height="100"
                        src="https://storage.googleapis.com/a1aa/image/cvO5faZ0XaQdJ6ZUO7eZ1TromJXufAQYknUf9Q3AiJ2BfOQdC.jpg"
                        width="100" />
                    <div class="name">
                        Harold Josué Estrada Picado
                    </div>
                    <div class="phone">
                        +505 7791 6557
                    </div>
                </div>
                <div class="profile-card">
                    <img alt="Profile Picture" height="100"
                        src="https://storage.googleapis.com/a1aa/image/cvO5faZ0XaQdJ6ZUO7eZ1TromJXufAQYknUf9Q3AiJ2BfOQdC.jpg"
                        width="100" />
                    <div class="name">
                        Nohemí Azucena Campos Espinoza
                    </div>
                    <div class="phone">
                        +505 8900 7319
                    </div>
                </div>
            </div>
            <div class="footer">
                Copyright © 2024 UNAN CUR Matagalpa.
            </div>
        </div>
    </div>
    <script type="module" src="../public/js/acercaDe/acerca-de.js"></script>
</body>
</html>
