<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Clientes</title>
    <!-- <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet" /> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/resources/public/css/cliente/clientes.css">
    <link rel="shortcut icon" href="/resources/public/img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="sidebar">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2> Gestión de Clientes</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="form-container">
                <div class="form">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input id="txtNombre" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label>Apellido:</label>
                            <input id="txtApellido"  maxlength="14" class="form-control" type="text"/>
                        </div>
                        <div class="form-group">
                            <label>Cédula:</label>
                            <input id="txtRUC" placeholder="4411111111002A" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Teléfono:</label>
                            <input id="txtTelefono" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label>Dirección:</label>
                            <input id="txtDireccion" class="form-control" type="text" />
                        </div>
                        <div class="form-group radio-group">
                            <div>
                                <input checked="" id="crear" name="registro" type="radio" />
                                <label for="crear">Crear</label>
                                <input id="editar" name="registro" type="radio" />
                                <label for="editar">Editar</label>
                                <input id="eliminar" name="registro" type="radio" />
                                <label for="eliminar">Eliminar</label>
                            </div>
                        </div>
                    </div>
                    <div class="buscadorRUC">
                        <label for="Busquedacedula" id="lbaBuscador">
                            Cédula:
                        </label>
                        <input id="Busquedacedula" maxlength="14" placeholder="4411111111111G" name="Busquedacedula" type="text" />
                    </div>
                    <div class="buttons">
                        <button id="btnCrear" class="btn" type="button">
                            Registrar
                        </button>
                        <button id="btnEditar" class="btn" type="button">
                            Modificar
                        </button>
                        <button id="btnEliminar" class="btn" type="button">
                            Eliminar
                        </button>
                        <button id="btnCancelar" class="btn" type="button">
                            Cancelar
                        </button>
                    </div>
                </div>
                <div class="search-container">
                    <label for="ruc">
                        Buscar por:
                    </label>
                    <input id="ruc" name="ruc" type="text" />
                    <div class="buttones-search">
                        <button id="btnBuscar">
                            Buscar
                        </button>
                        <button id="btnActualizar">
                            Actualizar
                        </button>
                    </div>
                </div>
                <div class="table-container">
                    <table id="tablaClientes">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    RUC
                                </th>
                                <th>
                                    Direccion
                                </th>
                                <th>
                                    Telefono
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/resources/public/js/cliente/cliente.js"></script>
</body>

</html>