<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Clientes</title>
    <link rel="stylesheet" href="/resources/public/css/cliente/clientes.css">
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="shortcut icon" href="/resources/public/img/logo.png" type="image/x-icon">
</head>

<body>
    <div id="loader" class="loader"></div>
        <div id="content" class="sidebar" style="display: none;">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2> Gestión de Clientes</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="form-container">
                <div class="form">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input id="txtNombre" class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label>Apellido:</label>
                            <input id="txtApellido"  maxlength="14" class="form-control" type="text"/>
                        </div>
                        <div class="form-group">
                            <label>Cédula:</label>
                            <input maxlength="14" id="txtRUC" placeholder="4411111111002A" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Teléfono:</label>
                            <input id="txtTelefono" class="form-control" maxlength="8" placeholder="12345678" type="text" />
                        </div>
                        <div class="form-group">
                            <label>Dirección:</label>
                            <input id="txtDireccion" class="form-control" type="text" />
                        </div>
                        <div class="form-group radio-group">
                            <div>
                                <input checked="" id="rdaCrear" name="registro" type="radio" />
                                <label for="rdaCrear">Crear</label>
                                <input id="rdaEditar" name="registro" type="radio" />
                                <label for="rdaEditar">Editar</label>
                                <input id="rdaEliminar" name="registro" type="radio" />
                                <label for="rdaEliminar">Eliminar</label>
                            </div>
                        </div>
                    </div>
                    <div class="buscadorRUC">
                        <label for="Busquedacedula" id="lbBuscador">
                            Cédula:
                        </label>
                        <input id="Busquedacedula" maxlength="14" placeholder="4411111111111G" name="Busquedacedula" type="text" />
                    </div>
                    <div class="buttons">
                        <button id="btnCrear" class="btn" type="button">
                            Registrar
                        </button>
                        <button id="btnEditar" class="btn" type="button">
                            Modificar
                        </button>
                        <button id="btnEliminar" class="btn" type="button">
                            Eliminar
                        </button>
                        <button id="btnCancelar" class="btn" type="button">
                            Cancelar
                        </button>
                    </div>
                </div>
                <div class="search-container">
                    <label id="ruc">
                        Buscar por:
                    </label>
                    <input id="ruc" name="ruc" type="text" />
                    <div class="buttones-search">
                        <button id="btnBuscar">
                            Cargar Tabla
                        </button>
                        <button id="btnGenerarReporte">
                            Generar Reporte
                        </button>
                        <dialog id="reporte">
                            <iframe src="http://localhost:5037/api/Reportes/clientes" frameborder="0" width="900px"
                                height="500px"></iframe>
                            <br>
                            <center>
                                <button id="reporte1">Cerrar</button>
                            </center>
                        </dialog>
                    </div>
                </div>
                <div class="table-container">
                    <table id="tablaClientes">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    RUC
                                </th>
                                <th>
                                    Direccion
                                </th>
                                <th>
                                    Telefono
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/resources/public/js/cliente/cliente.js"></script>
</body>

</html>