<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Crédito</title>
    <link rel="stylesheet" href="/resources/public/css/credito/credito.css">
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>

<body>
    <div id="loader" class="loader"></div>
    <div id="content" class="sidebar" style="display: none;">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2>Gestión de Créditos</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="form">
                <div class="head">
                    <div class="vendedor">
                        <label for="txtVendedor">Vendedor:</label>
                        <input disabled id="txtVendedor" type="text" class="vendedor" />
                    </div>
                    <div class="fecha">
                        <label for="fechaVenta">Fecha de Venta:</label>
                        <input disabled id="fechaVenta" type="date" value="2024-11-21" class="fecha" />
                    </div>
                </div>

                <div class="container">
                    <!-- Sección Cliente -->
                    <div class="body-cliente">
                        <div class="border">
                            <div class="form-check">
                                <label class="form-check-label" for="cliente">
                                    Cliente
                                </label>
                            </div>
                            <div class="columnas">
                                <div class="form-row">
                                    <label class="form-label" for="txtNumeroFactura">Ingresar Número de Factura:</label>
                                    <input class="form-control" id="txtNumeroFactura" type="text" />
                                </div>
                                <div class="form-row">
                                    <label class="form-label" for="txtCliente">Nombre del Cliente:</label>
                                    <input disabled class="form-control" id="txtCliente" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección crédito -->
                    <div class="body-credito">
                        <div class="border">
                            <div class="form-check">
                                <label class="form-check-label" for="producto">
                                    Datos del Crédito
                                </label>
                            </div>
                            <div class="columns">
                                <!-- Primera columna -->
                                <div class="column">
                                    <div class="form-row">
                                        <label class="form-label" for="txtTotal">Total:</label>
                                        <input disabled class="form-control" id="txtTotal" type="text" />
                                    </div>
                                    <div class="form-row">
                                        <label class="form-label" for="txtPlazo">Plazo:</label>
                                        <input disabled class="form-control" id="txtPlazo" type="text" />
                                    </div>
                                    <div class="form-row">
                                        <label class="form-label" for="txtCancelar">Cancelar:</label>
                                        <input disabled class="form-control" id="txtCancelar" type="text" />
                                    </div>
                                </div>
                                <!-- Segunda columna -->
                                <div class="column">
                                    <div class="form-row">
                                        <label class="form-label" for="txtSaldo">Saldo:</label>
                                        <input disabled class="form-control" id="txtSaldo" type="text" />
                                    </div>
                                    <div class="form-row">
                                        <label class="form-label" for="fechaDiaPago">Día de Pago:</label>
                                        <input class="form-control" id="fechaDiaPago" type="date" min="2024-11-21" value="2024-11-21"/>
                                    </div>
                                </div>
                                <div class="buttones">
                                    <button class="btnGuardar" id="btnGuardar">Guardar</button>
                                    <button class="btnCancelar" id="btnCancelar">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="search-container">
                <label for="ruc">
                    Ingrese el Número de Factura:
                </label>
                <input id="ruc" name="ruc" type="text" />
                <button id="btnBuscar">Buscar</button>
                <button id="btnCargarRegistro">Cargar Registro</button>
            </div>
            </form>
            <div class="table-container">
                <table id="tableRegistro">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Plazo
                            </th>
                            <th>
                                Saldo
                            </th>
                            <th>
                                Próximo Pago
                            </th>
                            <!-- <th>
                                Último Pago
                            </th> -->
                            <th>
                                Progreso
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/resources/public/js/credito/credito.js"></script>
</body>

</html>