<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/public/css/home/home.css">
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>

<body>
    <div id="content">
        <img alt="Logo of Lácteos la Granja with a barn and cows in a field" height="300"
        src="/resources/public/img/logo.ico" width="300" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/resources/public/js/home/home.js"></script>
</body>

</html>