<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/public/css/home/home.css">
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>

<body>
    <div id="loader" class="loader"></div>
    <div id="content" style="display: none;">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                    </div
                        style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh">
                    <div id="btnManual" class="help">
                        <i class="fas fa-question-circle"></i>
                    </div>
                    <dialog id="manual">
                        <iframe id="manual1" src="" frameborder="0" width="1000px", height="600px"></iframe>
                        <br>
                        <center>
                            <button id="manual2">Cerrar</button>
                        </center>
                    </dialog>
                </div>
                <div>
                    <img alt="Logo of Lácteos la Granja with a barn and cows in a field" height="300"
                        src="/resources/public/img/logo.ico" width="300" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/resources/public/js/home/home.js"></script>
</body>

</html>