<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/resources/public/css/home/home.css">
    <link rel="shortcut icon" href="/resources/public/img/logo.png" type="image/x-icon">
    <title>Home</title>
</head>

<body>
    <div class="sidebar">
        <div>
            <a href="/resources/views/home.html">
                <img alt="Company Logo" height="200"
                src="/resources/public/img/logo.png"
                width="200" />
            </a>
        </div>
        <a href="/resources/views/Proveedores.html">
            <i class="fas fa-truck">
            </i>
            Gestión de proveedores
        </a>
        <a href="/resources/views/clientes.html">
            <i class="fas fa-users">
            </i>
            Gestión de Clientes
        </a>
        <a href="/resources/views/usuarios.html">
            <i class="fas fa-user-cog">
            </i>
            Gestión de Usuarios
        </a>
        <a href="#">
            <i class="fas fa-flag">
            </i>
            Reportes
        </a>
        <a href="#">
            <i class="fas fa-tools">
            </i>
            Mantenimiento
        </a>
        <a href="#">
            <i class="fas fa-info-circle">
            </i>
            Acerca de
        </a>
        <a href="#">
            <i class="fas fa-sign-out-alt">
            </i>
            Cerrar sesión
        </a>
    </div>
    <div class="content" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <img alt="Logo of Lácteos la Granja with a barn and cows in a field" height="300"
            src="/resources/public/img/logo.png"
            width="300"/>
    </div>
</body>

</html>