<html>

<head>
    <title>Compras e Inventario</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/public/css/inventario/inventario.css">
</head>

<body>
    <div class="d-flex">
        <div class="sidebar">
            <div>
                <a href="/resources/views/home.html">
                    <img alt="Company Logo" height="200" src="/resources/public/img/logo.png" width="200" />
                </a>
            </div>
            <a href="/resources/views/Proveedores.html">
                <i class="fas fa-truck">
                </i>
                Gestión de proveedores
            </a>
            <a href="/resources/views/clientes.html">
                <i class="fas fa-users">
                </i>
                Gestión de Clientes
            </a>
            <a href="/resources/views/usuarios.html">
                <i class="fas fa-user-cog">
                </i>
                Gestión de Usuarios
            </a>
            <a href="#">
                <i class="fas fa-flag">
                </i>
                Reportes
            </a>
            <a href="#">
                <i class="fas fa-tools">
                </i>
                Mantenimiento
            </a>
            <a href="#">
                <i class="fas fa-info-circle">
                </i>
                Acerca de
            </a>
            <a href="#">
                <i class="fas fa-sign-out-alt">
                </i>
                Cerrar sesión
            </a>
        </div>
        <div class="content flex-grow-1">
            <div class="header">
                <a>
                    <i class="fas fa-truck">
                    </i>
                    Compras e Inventario
                </a>
                <i class="fas fa-question-circle">
                </i>
            </div>
            <div class="form-container">
                <form>
                    <fieldset>
                        <legend>
                            Datos Del Producto
                        </legend>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha-expiracion">
                                    Fecha de expiración:
                                </label>
                                <input class="form-control" id="fecha-expiracion" type="date" value="2024-09-15" />
                            </div>
                            <div class="col-md-4">
                                <label for="producto">
                                    Producto:
                                </label>
                                <input class="form-control" id="producto" type="text" />
                            </div>
                            <div class="col-md-4">
                                <label for="unidad-medida">
                                    Unidad de Medida:
                                </label>
                                <select class="form-control" id="unidad-medida">
                                    <option>
                                        Seleccione
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="descripcion">
                                    Descripción:
                                </label>
                                <input class="form-control" id="descripcion" type="text" />
                            </div>
                            <div class="col-md-4">
                                <label for="categoria-producto">
                                    Categoría Producto:
                                </label>
                                <select class="form-control" id="categoria-producto">
                                    <option>
                                        Seleccione
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="minimo-stock">
                                    Mínimo Stock:
                                </label>
                                <input class="form-control" id="minimo-stock" type="number" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="precio">
                                    Precio:
                                </label>
                                <input class="form-control" id="precio" type="number" />
                            </div>
                            <div class="col-md-4">
                                <label for="cantidad">
                                    Cantidad:
                                </label>
                                <input class="form-control" id="cantidad" type="number" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label>
                                    Acción:
                                </label>
                                <div>
                                    <input checked="" id="crear" name="accion" type="radio" value="crear" />
                                    <label for="crear">
                                        Crear
                                    </label>
                                    <input id="editar" name="accion" type="radio" value="editar" />
                                    <label for="editar">
                                        Editar
                                    </label>
                                    <input id="eliminar" name="accion" type="radio" value="eliminar" />
                                    <label for="eliminar">
                                        Eliminar
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button class="btn" type="button">
                                    Agregar
                                </button>
                                <button class="btn" type="button">
                                    Modificar
                                </button>
                                <button class="btn" type="button">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="buscar-producto">
                            Ingrese el nombre del producto:
                        </label>
                        <input class="form-control d-inline-block" id="buscar-producto" style="width: auto;"
                            type="text" />
                        <button class="btn" type="button">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Nombre del Producto
                            </th>
                            <th>
                                Descripción del Producto
                            </th>
                            <th>
                                Precio del Producto
                            </th>
                            <th>
                                Cantidad de Productos
                            </th>
                            <th>
                                Id Del Tipo de Producto
                            </th>
                            <th>
                                Mínimo Stock del Producto
                            </th>
                            <th>
                                Id Unidad de Medida
                            </th>
                            <th>
                                Fecha de Expiración
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>