<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacteos la granja</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/components/loading.css">
    <link rel="stylesheet" href="/resources/public/css/sidebar/sidebar.css">
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <div class="navigation">
            <div id="btnHome" class="Logo">
                <a>
                    <img alt="Company Logo" class="logo-icon" src="/resources/public/img/logo.ico" />
                </a>
            </div>
            <ul>
                <li id="btnFacturacion">
                    <a id="aIcon">
                        <span class="icon">
                            <i class="fas fa-file-invoice"></i>
                        </span>
                        <span class="title">Facturación</span>
                    </a>
                </li>

                <li id="btnProveedores">
                    <a id="aIcon">
                        <span class="icon">
                            <i class="fas fa-truck"></i>
                        </span>
                        <span class="title">Gestión de Proveedores</span>
                    </a>
                </li>

                <li id="btnClientes">
                    <a>
                        <span class="icon">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="title">Gestión de Clientes</span>
                    </a>
                </li>

                <li id="btnCreditos">
                    <a>
                        <span class="icon">
                            <i class="fas fa-credit-card"></i>
                        </span>
                        <span class="title">Gestión de Créditos</span>
                    </a>
                </li>

                <li id="btnCompras">
                    <a href="/resources/views/compras.html">
                        <span class="icon">
                            <i class="fas fa-credit-card"></i>
                        </span>
                        <span class="title">Compras e Inventario</span>
                    </a>
                </li>

                <li id="btnUsuarios">
                    <a href="/resources/views/usuarios.html">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span class="title">Gestión de Usuarios</span>
                    </a>
                </li>

                <li id="btnReportes">
                    <a href="./reportes.html">
                        <span class="icon">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="title">Reportes</span>
                    </a>
                </li>

                <li id="btnMantenimiento">
                    <a href="/resources/views/mantenimiento.html">
                        <span class="icon">
                            <i class="fas fa-tools"></i>
                        </span>
                        <span class="title">Mantenimiento</span>
                    </a>
                </li>

                <li id="btnAcercaDe">
                    <a>
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="title">Acerca de</span>
                    </a>
                </li>

                <li id="btnCerrar">
                    <a href="/index.html">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fas fa-bars"></i>
            </div>
            <h2 id="lbaTituloHeader"></h2>
            <div class="help" id="btnManual">
                <i class="fas fa-question-circle"></i>
            </div>
            <dialog id="manual">
                <iframe id="manual1" src="" frameborder="0" width="1000px", height="600px"></iframe>
                <br>
                <center>
                    <button id="manual2">Cerrar</button>
                </center>
            </dialog>
        </div>
        <div id="loader" class="loader"></div>
        <div id="content" style="display: none;"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/resources/public/js/lacteos/lacteos.js"></script>
</body>
</html>