<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mantenimiento
    </title>
    <link rel="stylesheet" href="/resources/public/css/mantenimiento/mantenimiento.css">
    <link rel="stylesheet" href="/resources/public/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="../public/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2> Mantenimiento</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="cards">
                <div class="card1">
                    <div class="row">
                        <label for="title">Respaldo de la Base de Datos</label>
                        <input class="form-control" placeholder="Ruta de respaldo" type="text" />
                        <div class="buttons-group">
                            <button id="btnBuscar1">Buscar</button>
                            <button id="btnRespaldar">Respaldar</button>
                        </div>
                    </div>
                </div>
            
                <div class="card2">
                    <div class="row">
                        <label for="title">Restaurar Base de Datos</label>
                        <input class="form-control" placeholder="Ruta de restauración" type="text" />
                        <div class="buttons-group">
                            <button id="btnBuscar2">Buscar</button>
                            <button id="btnRestaurar">Restaurar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
    <script type="module" src="/resources/public/js/mantenimiento/mantenimiento.js"></script>
</body>
</html>