<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2>Reportes</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="">
                <center>
                    <iframe src="http://localhost:5037/api/Reportes/usuarios" height="500px" width="800px"></iframe>
                </center>
            </div>
        </div>
    </div>
    <script type="module" src="../public/js/reporte/reporte.js"></script>
</body>
</html>