<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/public/css/home/home.css">
</head>
<body>
    <div class="sidebar">
        <div class="navigation">
            <div class="Logo">
                <a href="/resources/views/home.html">
                    <img alt="Company Logo" class="logo-icon" src="/resources/public/img/logo.png" />
                </a>
            </div>
            <ul>
                <li id="btnFacturacion">
                    <a id="aIcon" href="/resources/views/facturacion.html">
                        <span class="icon">
                            <i class="fas fa-file-invoice"></i>
                        </span>
                        <span class="title">Facturacion</span>
                    </a>
                </li>

                <li id="btnProveedores">
                    <a id="aIcon" href="/resources/views/Proveedores.html">
                        <span class="icon">
                            <i class="fas fa-truck"></i>
                        </span>
                        <span class="title">Gestión de Proveedores</span>
                    </a>
                </li>

                <li id="btnClientes">
                    <a href="/resources/views/clientes.html">
                        <span class="icon">
                            <i class="fas fa-users"></i>
                        </span>
                        <span class="title">Gestión de Clientes</span>
                    </a>
                </li>

                <li id="btnUsuarios">
                    <a href="/resources/views/usuarios.html">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span class="title">Gestión de Usuarios</span>
                    </a>
                </li>

                <li id="btnReportes">
                    <a href="#">
                        <span class="icon">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="title">Reportes</span>
                    </a>
                </li>

                <li id="btnMantenimiento">
                    <a href="/resources/views/mantenimiento.html">
                        <span class="icon">
                            <i class="fas fa-tools"></i>
                        </span>
                        <span class="title">Mantenimiento</span>
                    </a>
                </li>

                <li id="btnAcercaDe">
                    <a href="/resources/views/acerca-de.html">
                        <span class="icon">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="title">Acerca de</span>
                    </a>
                </li>

                <li id="btnCerrar">
                    <a href="/index.html">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
        <script src="/resources/public/js/slider/slider.js"></script>
</body>
</html>