<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión De Usuarios</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/public/css/usuarios/usuarios.css">
    <link rel="shortcut icon" href="/resources/public/img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="sidebar">
        <div id="contents"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fas fa-bars"></i>
                </div>
                <h2> Gestión de Usuarios</h2>
                <div class="help">
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="content">
                <div class="img-logo">
                    <img alt="User Icon" src="/resources/public/img/logo.png" />
                </div>
                <div class="next">
                    <a href="/resources/views/usuarioLista.html">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="radio-group">
                    <label>
                        <input checked="" name="action" type="radio" value="crear" />
                        Crear
                    </label>
                    <label>
                        <input name="action" type="radio" value="editar" />
                        Editar
                    </label>
                    <label>
                        <input name="action" type="radio" value="eliminar" />
                        Eliminar
                    </label>
                </div>
                <div class="buscadorRUC">
                    <label for="Busquedacedula" id="lbaBuscador">
                        Cédula:
                    </label>
                    <input id="Busquedacedula" maxlength="14" placeholder="4411111111111G" name="Busquedacedula" type="text" />
                </div>
                <div class="form-section">
                    
                    <div class="form-group">
                        <label for="fechaRegistro">Fecha De Registro:</label>
                        <input id="fechaRegistro" type="date" value="2024-09-15" />
                    </div>
                    
                    <div class="form-group">
                        <label for="nombreUsuario">Nombre De Usuario:</label>
                        <input id="nombreUsuario" type="text" />
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" />
                    </div>
                    
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select id="estado">
                            <option>Activo</option>
                            <option>Inactivo</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="rolGeneral">Rol General:</label>
                        <select id="rolGeneral">
                            <option>Vendedor</option>
                            <option>Administrador</option>
                        </select>
                    </div>
                    
                    <div class="button-group">
                        <button>Modificar</button>
                        <button>Cancelar</button>
                        <button>Eliminar</button>
                    </div>
                </div>
                
                <div class="password-section">
                    <label>
                        Contraseña:
                    </label>
                    <input type="password"/>
                    <label>
                        Repetir Contraseña:
                    </label>
                    <input type="password" />
                    <button>
                        Guardar Datos
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/resources/public/js/usuarios/usuario.js"></script>
</body>

</html>